reference_results/sequential_double_20k.nc filter=lfs diff=lfs merge=lfs -text
reference_results/sequential_single_20k.nc filter=lfs diff=lfs merge=lfs -text
tasks/20k.nc filter=lfs diff=lfs merge=lfs -text
